.form{
   {width: 500px;
                margin: auto;
                padding: 2opx;
                background: gray;
                font-size: 20px;
                font-family: verdana;
                color: wheat;

}